{% extends 'base.html.twig' %}

{% block title %}Fiche album{% endblock %}

{% block body %}

<div class="container">


    <h1 class="pt-2 text-center" style="color:white">Fiche de l'album</h1>
    <hr>
            <div class="col-sm-10 col-md-12 col-lg-3col-x2">
                <div class="card mb-3">
            <h3 class="card-header" style="color:blue"> {{leAlbum.nom}} </h3>
            <div class="row">
                <div class="col-3 d-flex align-items-center mx-auto">
                    <img class="mx-auto d-block" style="height:auto; width:200px; margin:auto; display:block;" src="{{leAlbum.image}}" alt="Card image">
                </div>
                <div class="col">
                
            <div class="card-body">
                <h5 class="card-title"> 
                <a href="{{path('ficheArtiste', {'id': leAlbum.artiste.id})}}" style='color:blue;font-weight: bold;'class="badge badge-success"> {{leAlbum.artiste.nom}} </a>
                </h5>
                <p class="card-text">{{leAlbum.date}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  {% for leStyle in leAlbum.styles %}
                    <span class="badge" style="background-color: #ADD8E6; color: black;"> {{leStyle.nom}} </span>
                  {% endfor %}
                </li>
                <li>
                {% set nb = leAlbum.morceaux|length %}
                 {{nb}} {% if nb>1 %} morceaux {% else %} morceau {% endif %}
                </li>
            </ul>
            </div>
            </div>
            </div>
    </div>  


<table class="table table-hover mx-auto">
  <thead>
    <tr>
      <th scope="col-3">Piste</th>
      <th scope="col-4">Titre</th>
      <th scope="col-1">Durée</th>
    </tr>
  </thead>
  <tbody>
  {% for leMorceau in leAlbum.morceaux %}
  
    <tr class="table-active">
      <td scope="row">{{leMorceau.piste}}</td>
      <td>{{leMorceau.titre}}</td>
      <td>{{leMorceau.duree}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

  </div>
    

</div>
 
{% endblock %}
